<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Enums.NET" version="4.0.2" targetFramework="net472" />
  <package id="Epoch.net" version="4.1.0" targetFramework="net472" />
  <package id="Handy.DotNETCore-Compatibility.ColorTranslations" version="0.2.1" targetFramework="net472" />
  <package id="jose-jwt" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="8.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Json" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.19.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.15.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="6.19.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.19.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.0" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.15.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Abstractions" version="20.0.15" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Cng" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="8.0.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="TestableIO.System.IO.Abstractions" version="20.0.15" targetFramework="net472" />
  <package id="TestableIO.System.IO.Abstractions.Wrappers" version="20.0.15" targetFramework="net472" />
  <package id="Twilio" version="7.0.2" targetFramework="net472" />
  <package id="Vonage" version="6.16.0" targetFramework="net472" />
  <package id="Yoh.Text.Json.NamingPolicies" version="1.0.0" targetFramework="net472" />
</packages>